.table-positions-header {
    display: grid;
    grid-template-columns: 1fr repeat(8, 40px);
    height: 40px;
    font-size: 14px;
    justify-items: center;
    align-items: center;
}

.table-positions-header > :nth-child(1) {
    padding-left: 15px;
    justify-self: start;
}

.table-positions {
    display: grid;
    grid-template-columns: 6px 40px 40px 1fr 40px 40px 40px 40px 40px 40px 40px 40px;
    height: 45px;
    font-size: 14px;
    justify-items: center;
    align-items: center;
}

.table-positions > :nth-child(4) {
    padding-left: 15px;
    justify-self: start;
}

