<div class="flex flex-row justify-center pt-10">
    <div class="flex flex-col w-full lg:w-3/4 py-10 pr-2 lg:p-10 bg-white rounded-2xl">
        <div class="table-positions-header grid grid-cols-positions-head-sm lg:grid-cols-positions-head-lg font-semibold">
            <div>Club</div>
            <div>PTS</div>
            <div>PJ</div>
            <div class="hidden lg:block">G</div>
            <div class="hidden lg:block">E</div>
            <div class="hidden lg:block">P</div>
            <div class="hidden lg:block">GF</div>
            <div class="hidden lg:block">GC</div>
            <div>DG</div>
        </div>
        <div class="table-positions border-b grid grid-cols-positions-sm lg:grid-cols-positions-lg hover:bg-rose-50 cursor-pointer" 
            *ngFor="let team of positions; let position = index" 
            [routerLink]="['/fixture']" [queryParams]="{seasonId,  tournamentId, teamId:  team.teamId}">
            <div class="h-10 w-full" [ngClass]="{'bg-blue-500': isClasified(position), 'bg-rose-500': isLastClasified(position)}"></div>
            <div class="font-semibold">
                {{ position + 1 }}
            </div>
            <div>
                <img [attr.src]="team.emblem" class="h-6 w-6 lg:w-8 lg:h-8 object-contain">
            </div>
            <div class="flex flex-col px-1 lg:px-3">
                <span class="font-semibold">{{ team.teamName }}</span>
                <span class="text-xs font-extralight">{{ team.assistant }}</span>
            </div>
            <div class="font-semibold">{{ team.points }}</div>
            <div>{{ team.matches_played }}</div>
            <div class="hidden lg:block">{{ team.wins }}</div>
            <div class="hidden lg:block">{{ team.draws }}</div>
            <div class="hidden lg:block">{{ team.losses }}</div>
            <div class="hidden lg:block">{{ team.goals_for }}</div>
            <div class="hidden lg:block">{{ team.goals_against }}</div>
            <div>{{ team.goal_difference }}</div>
        </div>
    </div>
</div>