<div class="flex flex-col pt-10">
    <div class="grid grid-cols-2 bg-white rounded-lg">
        <div class="flex items-center justify-start px-4 h-14 font-semibold">
            <span>Club</span>
        </div>
        <div class="grid grid-cols-8 h-14">
            <div class="flex justify-center items-center font-semibold">PJ</div>
            <div class="flex justify-center items-center font-semibold">G</div>
            <div class="flex justify-center items-center font-semibold">E</div>
            <div class="flex justify-center items-center font-semibold">P</div>
            <div class="flex justify-center items-center font-semibold">GF</div>
            <div class="flex justify-center items-center font-semibold">GC</div>
            <div class="flex justify-center items-center font-semibold">DG</div>
            <div class="flex justify-center items-center font-semibold w-10">PTs</div>
        </div>

        @for (position of positions; track $index) {
        <div class="flex items-center justify-start h-14 gap-3 border-t cursor-pointer hover:bg-rose-50 border-l-8"
            [ngClass]="{
                    'border-l-green-600/30': isClasified($index),
                    'border-l-rose-600/30': isLastClasified($index)
                  }" [routerLink]="['/fixture']" [queryParams]="{teamId:  position.teamId}">
            <div class="flex justify-center items-center font-semibold text-xl border-r w-16">
                <span>{{ $index + 1 }}</span>
            </div>
            <div class="h-full p-2 w-16">
                <img [attr.src]="'images/emblems/' + position.emblem" class="h-full w-full object-contain">
            </div>
            <div class="font-extralight flex-col">
                <div>{{ position.teamName }}</div>
                <div class="text-xs">{{ position.assistant }}</div>
            </div>
        </div>
        <div class="grid grid-cols-8 h-14 border-t">
            <div class="flex justify-center items-center font-semibold">{{ position.matches_played }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.wins }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.draws }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.losses }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.goals_for }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.goals_against }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.goal_difference }}</div>
            <div class="flex justify-center items-center font-semibold">{{ position.points }}</div>
        </div>
        }
    </div>
</div>