<div class="flex flex-row justify-center pt-10">
    <div class="flex flex-col w-full md:w-3/4 p-10 bg-white rounded-2xl">
        <div class="table-positions-header font-semibold">
            <div>Club</div>
            <div>PTS</div>
            <div>PJ</div>
            <div>G</div>
            <div>E</div>
            <div>P</div>
            <div>GF</div>
            <div>GC</div>
            <div>DG</div>
        </div>
        <div class="table-positions border-b" *ngFor="let team of positions; let position = index">
            <div class="h-10 w-full" [ngClass]="{'bg-blue-500': isClasified(position), 'bg-rose-500': isLastClasified(position)}"></div>
            <div class="font-semibold">
                {{ position + 1 }}
            </div>
            <div>
                <img [attr.src]="'images/emblems/' + team.emblem" class="h-8 w-8 object-contain">
            </div>
            <div class="flex flex-col">
                <span class="font-semibold">{{ team.teamName }}</span>
                <span class="text-xs font-extralight">{{ team.assistant }}</span>
            </div>
            <div class="font-semibold">{{ team.points }}</div>
            <div>{{ team.matches_played }}</div>
            <div>{{ team.wins }}</div>
            <div>{{ team.draws }}</div>
            <div>{{ team.losses }}</div>
            <div>{{ team.goals_for }}</div>
            <div>{{ team.goals_against }}</div>
            <div>{{ team.goal_difference }}</div>
        </div>
    </div>
</div>