<div class="flex pt-10 justify-center">
    <form [formGroup]="matchForm" (submit)="onSubmit()" class="flex flex-col bg-white gap-2 rounded-md w-full max-w-3xl p-10">
        <span class="font-sans font-medium uppercase mb-3 text-zinc-500">Registro de partidos</span>
        <div class="flex flex-col lg:flex-row gap-4">
            <mat-form-field class="w-full" appearance="outline" >
                <input type="text" matInput formControlName="home" [matAutocomplete]="autoTeamHome" placeholder="Local">
                <mat-autocomplete #autoTeamHome="matAutocomplete" [displayWith]="displayTeam">
                    <mat-option *ngFor="let team of filteredHomeTeams | async" [value]="team" class="flex-option">
                        <div class="option-container">
                            <img [src]="'images/emblems/' + team.emblem" alt="Team emblem" class="w-6 h-6 option-img">
                            <span class="option-text">{{ team.name }}</span>
                        </div>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="matchForm.get('home')?.hasError('required') && matchForm.get('home')?.touched">
                    Este campo es obligatorio.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" >
                <input type="text" matInput formControlName="away" [matAutocomplete]="autoTeamAway" placeholder="Visitante">
                <mat-autocomplete #autoTeamAway="matAutocomplete" [displayWith]="displayTeam">
                    <mat-option *ngFor="let team of filteredAwayTeams | async" [value]="team" class="flex-option">
                        <div class="option-container">
                            <img [src]="'images/emblems/' + team.emblem" alt="Team emblem" class="w-6 h-6 option-img">
                            <span class="option-text">{{ team.name }}</span>
                        </div>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="matchForm.get('away')?.hasError('required') && matchForm.get('away')?.touched">
                    Este campo es obligatorio.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col lg:flex-row gap-4">
            <ng-container *ngFor="let controlName of ['homeGoals', 'awayGoals']; let i = index">
                <mat-form-field class="w-full" appearance="outline">
                    <input matInput numberInput [formControlName]="controlName" [placeholder]="goalLabels[i]">
                    <mat-error *ngIf="matchForm.get(controlName)?.hasError('required') && matchForm.get(controlName)?.touched">
                        Este campo es obligatorio.
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="flex items-center justify-between font-sans font-medium uppercase mb-3 text-zinc-500">
            <mat-checkbox formControlName="played" class="">Partido jugado</mat-checkbox>
            <button type="submit" mat-flat-button class="rounded-lg bg-rose-500">Agregar</button>
        </div>
    </form>
</div>
