<nav class="bg-rose-500 text-rose-50">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <!-- Contenedor del título, alineado a la izquierda -->
            <div class="flex flex-no-shrink items-center font-sans antialiased font-bold text-2xl p-2">
                <img routerLink="/positions" src="/images/baltika-logo.ico" class="h-12 w-12 object-cover rounded-xl mx-2 cursor-pointer">
                <span routerLink="/positions" class="cursor-pointer">Liga Baltika</span>
            </div>
            <!-- Contenedor del menú, alineado a la derecha -->
            <div class="hidden md:flex space-x-4 ml-auto">
                <a routerLink="positions" routerLinkActive="bg-rose-400" class="hover:bg-rose-400 px-3 py-2 rounded-md">Posiciones</a>
                <a routerLink="fixture" routerLinkActive="bg-rose-400" class="hover:bg-rose-400 px-3 py-2 rounded-md">Calendario</a>
            </div>
            <!-- Botón de menú para pantallas pequeñas -->
            <div class="md:hidden">
                <button (click)="toggleMenu()"
                    class="text-white focus:ring-1 focus:ring-rose-400">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- Menú desplegable para pantallas pequeñas -->
    @if (isMenuOpen) {
    <div class="md:hidden">
        <a routerLink="positions" routerLinkActive="bg-rose-400" class="block pl-20 py-2 hover:bg-rose-400">Positions</a>
        <a routerLink="fixture" routerLinkActive="bg-rose-400" class="block pl-20 py-2 hover:bg-rose-400">Fixture</a>
    </div>
    }
</nav>